<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Aiti_ProductResponsibleUserAdminUi::responsible" title="responsible" sortOrder="10">
					<resource id="Aiti_ProductResponsibleUserAdminUi::index_index" title="index index" sortOrder="10"/>
					<resource id="Aiti_ProductResponsibleUserAdminUi::responsible_save" title="Save responsible" sortOrder="10"/>
					<resource id="Aiti_ProductResponsibleUserAdminUi::responsible_delete" title="Delete responsible" sortOrder="20"/>
					<resource id="Aiti_ProductResponsibleUserAdminUi::responsible_update" title="Update responsible" sortOrder="30"/>
					<resource id="Aiti_ProductResponsibleUserAdminUi::responsible_view" title="View responsible" sortOrder="40"/>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
