<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Aiti_Responsibleuseradminui::aiti_responsibleuseradminui" title="Responsible users" module="Aiti_Responsibleuseradminui" sortOrder="9999" resource="Magento_Backend::content" parent="Magento_User::system_acl" action="productresponsibleuser/grid"/>
	</menu>
</config>
