<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Aiti::top_level" title="Aiti" module="Aiti_Responsibleuseradminui" sortOrder="9999" resource="Magento_Backend::content"/>
		<add id="Aiti_Responsibleuseradminui::aiti_responsibleuseradminui_productresponsibleuseradminui" title="ProductResponsibleUserAdminUi" module="Aiti_Responsibleuseradminui" sortOrder="9999" resource="Magento_Backend::content" parent="Aiti::top_level" action="aiti_responsibleuseradminui/productresponsibleuseradminui/index"/>
	</menu>
</config>
