<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="aiti_tab" translate="label">
            <label>Aiti</label>
        </tab>
        <section id="aiti_section" showInDefault="1" showInWebsite="0" showInStore="0" sortOrder="10" translate="label">
            <class>separator-top</class>
            <label>Product responsible users</label>
            <tab>aiti_tab</tab>
            <resource>Aiti_ProductResponsibleUserAdminUi::productresponsibleuseradminui_config</resource>
            <group id="aiti_general_group" translate="label comment" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General</label>
                <comment>Responsible users for managing products</comment>
                <field id="departments" showInDefault="1" showInWebsite="0" showInStore="0" sortOrder="10" translate="label">
                    <label>Departments</label>
                    <frontend_model>Aiti\ProductResponsibleUserAdminUi\BLock\Adminhtml\Form\Field\Departments</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
